
{% if information.descriptionPub != null  %}
    <div class="box-page-bg clearfix" style="margin-top: 15px;  margin-bottom: 15px;">

    {{ information.descriptionPub|raw }}

    </div>
{% endif %}