{% extends "::content-backend.html.twig" %}

   {% block hiarche %}
<div class="page-content" >

    <div class="page-bar">
        <ul class="page-breadcrumb">

            <li>

                <a href="{{ path('user_index') }}"> <span>   {{ 'page.create'|trans }} </span></a>
                <i class="fa fa-circle"></i>
            </li>
            <li>

                <a href="#"> <span>{{'change_password.submit'|trans }}   </span></a>

            </li>
        </ul>

    </div>


    {% endblock %}

{% block body %}
{% include "UserBundle:ChangePassword:change_password_content.html.twig" %}
{% endblock  %}
