{% extends "::content-backend.html.twig" %}
{% block title %}
    {{ 'menu_crawler_spectacle'|trans }}
{% endblock %}

   {% block hiarche %}
<div class="page-content">
    <div class="page-bar">
        <ul class="page-breadcrumb">
              <li>
                <a href="{{ path('crawlerspectacle_index') }}"> <span>   {{ 'menu_crawler_spectacle'|trans }}  </span></a>
            </li>
            <li>
                <a href="#"> <span>
                             {{ 'page-breadcrumb.edit'|trans }}
                          </span></a>
            </li>
        </ul>
    </div>
    {% endblock %}
    {% block body %}

        {% include "BackBundle:Crawlerspectacle:form_spectacle.html.twig" %}

    {% endblock %}
      {% block javascripts %}
        <script>
            $('#backbundle_crawlerspectacle_startTime').timepicker();
           
        </script>
    {% endblock %}

   



