{% extends '::content-frontend.html.twig' %}


   {% block contentbody %}
<body>

<script>
 
    window.twttr = (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
                t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function (f) {
            t._e.push(f);
        };

        return t;
    }(document, "script", "twitter-wjs"));
</script>

<!--- meta of google plus -->

<script>
    window.___gcfg = {
        lang: 'fr-CA',
        parsetags: 'onload'
    };

</script>
<script data-ad-client="ca-pub-7130824655887788" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<script src="https://apis.google.com/js/platform.js" async defer></script>
<!--- meta of google plus -->

<!--- meta of facbook -->
<div id="fb-root"></div>
<script>
    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v2.9";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>
<!--- End meta of facbook -->

<div id="page"><!-- class="hidden" -->
    <nav class="navbar" id="header">

        {{ render(controller( 'FrontBundle:Front:menu' ,  { 'rout': "front_end_index" }   )) }}
    </nav>
    <div id="content">
        {% block imgscreen %}
        {% endblock %}
        {% block body %}
        {% endblock %}
    </div>
    <!-- Footer -->
    {{ render(controller( 'FrontBundle:Front:footer'    )) }}
</div>

{% endblock %}

