
{% if ListePhotos != null  %}
{% for item in ListePhotos %}
 {% if loop.index > 1 %}
 {% if ListePhotos|length == 4  %}
    <div class="{% if loop.index == 2 %}
                    images-carousel
                {% elseif loop.index == 3 %}
                images-carousel-2 images2 padd-right
                 {% elseif loop.index == 4 %}
                      images-carousel-3 images3 padd-right
                 {% endif %}
                 col-md-6 col-xs-6 col-sm-6">
        {% elseif ListePhotos|length == 3 %}
        <div class="{% if loop.index == 2 %}
                    images-carousel
                {% elseif loop.index == 3 %}
                images-carousel-2
                 {% endif %}
                 col-md-6 col-xs-6 col-sm-6">
        {% elseif ListePhotos|length == 2 %}
            <div class=" images-carousel  col-md-12 col-xs-12 col-sm-12">
        {% endif %}

        <a href="{{ path_picture ~ item.picture }}" class="fancybox">
            <div class="img-size  ">
                <img src="{{ path_picture ~ item.picture }}"
                     class="media-object " alt=""/>
            </div>
        </a>
    </div>
            {% endif %}
{% endfor %}
            {% else %}

            <div class="no-image">
                    <img src="{{ asset('assets/images/no-image.jpg')}}" class="img">
            </div>
            {% endif %}
